body {
  background-color: rgb(255, 255, 255);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
 align-items: center;
}
article{
  background-image: url(../assets/cherry\ kaart.jpg);
  background-color: rgb(246, 247, 246);
  background-position: center;
  background-size: cover;
  width: 550px;
  height: 350px;
  border-radius: 25px;
  
}
h1{
  font-size: 50px;
  color: rgb(0, 0, 0);
  font-family:sans-serif
}
h5{
  font-size: 17px;
  color: rgb(3, 3, 3);
  font-family: sans-serif;
  vertical-align: top;
}
article{
  border-style: outset;
  border-width: 5px;
  border-color: rgb(240, 174, 229);
  padding: 50px;
  padding-top: 2px;

}
div{
  display: flex;
  align-items: center;

}
h2{
  position: absolute;
  right: 16em;
  top: 9em;
  font-size: 30px;
  color: rgb(13, 13, 14);
  font-family: sans-serif;
  z-index: 9;
  
}
img{
  max-width: 60%;
  max-height: 60%;
  object-position: top 12px right 40px ;
}
