body {
  background-image: url(../assets/bg.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
 align-items: center;
}
article{
  background-color: rgb(247, 247, 247);
  width: 600px;
  height: 350px;
  border-radius: 25px;
  
}
h1{
  font-size: 60px;
  font-family:sans-serif
  

}
li{
  font-size: 30px;
  font-family: sans-serif;
}
